{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
    <h1> Inscription </h1>

    {{ form(form) }}
{% endblock %}