{% extends 'base.html.twig' %}

{% block title %} Admin Nouveau Chantier {% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>

    <h1> {% block pageTitle %} Nouveau Chantier {% endblock %}</h1>
   {{ form(form) }}
 

{% endblock %}