<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Notre entreprise de plomberie à Bordeaux propose des services 
        pour la réparation de fuites d'eau, l'installation de tuyauterie, robinetterie, d'équipements 
        sanitaires, salles de bain et douche. Contactez-nous pour une estimation gratuite." />
        <meta name="author" content="" />
        <title>BL Plomberie</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/style.css" rel="stylesheet" />
        <link href="/styleCustom.css" rel="stylesheet" />
    </head>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
            <div class="container">
            <div class="logo-text-container">
                <a class="navbar-brand" href="#page-top">
                    <img src="/images/Logo.png" alt="..." />
                    {# <span class="title">BL Plomberie</span> #}
                    <span class="title">B<span style="color:#FC5050;">L</span> Plomberie</span>
                </a>
            </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Nos Chantiers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Nos + </a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path ('app_worksite_list') }}" class="menuAdmin-item"> Interface chantiers </a>
                {# <a href="{{ path ('app_category_list') }}" > Interface catégories </a> #}
                <a href="{{ path('app_login') }}" class="menuAdmin-item"> Connexion Admin </a>
                <a href="{{ path('app_logout') }}" class="menuAdmin-item"> Déconnexion Admin </a>
                {% endif %}             
            </nav>

        {% block body %}{% endblock %}  

        {# {% block home %}  {% endblock %}   #}
    </body>
</html>
