{% extends 'base.html.twig' %}

{% block title %} Zone intervention B&L {% endblock %}

{% block body %}
    <h1> {%block pageTitle %} Zone d'intervention {% endblock %} </h1>
    <hr/>

    {% block subTitle %} {% endblock %}


{% endblock %}