{% extends 'base.html.twig' %}

{% block title %} Contact B&L {% endblock %}

{% block body %}
    <h2> {%block pageTitle %} Nous contacter {% endblock %} </h2>

    <div>
    <p> Vous souhaitez un devis pour réaliser des travaux de plomberie, de chauffage ou pour une rénovation de salle de bain ?<br>
    Ou avez besoin d’un dépannage en urgence ? </p>
    <p>Contactez-nous par <strong>téléphone : </strong><br>
    <img src="/images/phone.png" alt="téléphone"/>
    <strong style="font-size:33px; color: var(--darkblue)">06.59.82.04.01</strong>
    </p>
    <p>Merci de nous laisser un message concernant votre projet.
    Nous vous recontacterons rapidement. </p>
    <p>Nous sommes ouverts du lundi au vendredi de 8h à 19h</p>
    </div>

    <div>
    Zone d'intervention : Bordeaux et communes voisines.
    </div>


    <div class="map">
    <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14253.826888252299!2d-0.5985461297174622!3d44.855828165447875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55280f64b95555%3A0x4ba4bd40902d2892!2s64%20Rue%20de%20Lisleferme%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1679923245747!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>

    <p>B&L Plomberie 
    <br>
    64 rue de Lisleferme, 33000 Bordeaux</p>
    


    {% block subTitle %} {% endblock %}


{% endblock %}