{% extends 'base.html.twig' %}

{% block title %} Contact B&L {% endblock %}

{% block body %}
    <h1> {%block pageTitle %} Merci de nous contacter {% endblock %} </h1>
    <hr/>

    {% block subTitle %} {% endblock %}


{% endblock %}