{% extends 'base.html.twig' %}

{% block title %} B&L Informations légales {% endblock %}

{% block body %}
    <h2> {%block pageTitle %} Informations légales {% endblock %} </h2>

    <p><strong>Informations sur la société</strong></p>

        <p>Le présent site est la propriété de la société BL Plomberie.</p>
        {# SARL au capital de xxxxxxxxxx Euros #}
        <p>Raison sociale : BL Plomberie
        <br>
        Directeur : Barlemont Louis
        <br>
        Adresse : 64 rue de Lisleferme, 33000 Bordeaux
        <br>
        Numéro unique d'identification (N°SIREN) : 818 888 398</p>
        
        <p>Tél. : 06.59.82.04.01</p>

        <p>Email : louis.barlemont@gmail.com</p>

        {# <p>Prestataire technique (hébergeur) :

            ATOS Aubervilliers
            153 avenue Jean Jaurès
            93307 Aubervilliers Cedex
            Tél. : 01 46 25 50 00

            ATOS Croissy Beaubourg
            4 rue des Vieilles Vignes
            BP 38
            77313 Marne la Vallée Cedex 2
            Tél. : 01 60 53 63 00</p> #}
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>

    {% block subTitle %} {% endblock %}
    <div class="PorteArrière">
    <a href="{{ path ('app_login') }}"> ~¤~ </a>
    </div>


{% endblock %}