{% extends 'base.html.twig' %}

{% block title %} Services B&L {% endblock %}

{% block body %}
    <h2> {%block pageTitle %} Nos services {% endblock %} </h2>

    <ul>
    <div class="services">
    {# l'image en arrière plan est dans le dossier css (cf classe .services) #}

        <li>Plomberie générale, dépannage</li>
        <br>
        <li>Fuites d'eau (recherche & réparation)</li>
        <br>
        <li>Installation / Rénovation de Salle de bain </li>
        <br>
        <li>Installation de Robinet, Lavabo</li>
        <br>
        <li>Installation de WC (au sol / suspendu)</li>
        <br>
        <li>Changement de Chauffe-eau, Ballons</li>
    </div>
    <br>
    <hr>
    </ul>

    <p><strong>L'écoute</strong>
    est la première étape de notre démarche orientée "satisfaction client". 
    Bien comprendre vos attentes est la clé pour des solutions adaptées à vos besoins. 
    <br><strong>Notre objectif :</strong> vous apporter un service de qualité avec le meilleur résultat et des tarifs compétitifs. 



    {% block subTitle %} {% endblock %}


{% endblock %}