{% extends 'base.html.twig' %}

{% block title %} Services B&L {% endblock %}

{% block body %}
    <h1> {%block pageTitle %} Nous intervenons pour :  {% endblock %} </h1>
    <hr/>

    {% block subTitle %} {% endblock %}


{% endblock %}